
.image-container  {
    width: 30rem;
    height: 35rem;
   border-radius: 15rem 15rem 0 0 ;
   overflow: hidden;
   border: 8px solid rgba(255, 255, 255, 0.12);
}
    .image-container>img{
        width: 100%;
        height: 100%;
    }

.body-container{
    justify-content: space-around;
    align-items: flex-end;

}
.body-wrap{
 color: white;
    background-color: black;
    padding-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.body-left{
    gap: 3rem;
}
.body-title{
    position: relative;
    z-index: 1;
}
.body-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.orange-circle{
    position: absolute;
    background-color:orange;
        height: 4rem;
        width: 4rem;
        border-radius: 999px;
        right: 30%;
        top: -10%;

    z-index: -1;
}


.search-bar{
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.374);
    padding: 0.5rem 1rem;
  justify-content: space-between;
  width: 100%;
}
.search-bar>input{
    border: none;
    outline: none;
}

.stats{
    width: 100%;
    justify-content: space-between;
}
.stat>:nth-child(1){
    font-size: 2rem;

}
.stat>:nth-child(1)>:last-child{
    color: orange;

}


@media (max-width : 640px) {
      
        .body-title>h1{
            font-size: 2rem;
            line-height: 3rem;
        }
        .orange-circle{
            right: 31%;
            height: 2rem;
            width: 2rem;
            top: 2%;
        }
        .image-container{
            width: 95%;
            height: 25rem;

        }
          .body-left{
            width: 100%;
          }
          .body-right{
            width: 100%;
          }
            
        .stats{
            justify-content: center;
            gap: 1.5rem;
        }
        .stat>:nth-child(1){
            font-size: 1.5rem; 
        }
        .stat>:nth-child(2){
            font-size: 0.8rem;
        
        }
        
}