.h-wrapper{
    background-color: black;
    color: white;
}

.h-container{
   
    justify-content: space-between;
  padding-top: 1rem;
  padding-bottom:1rem ;
    padding: 1.5rem;
    color: var(--secondary);
  

}
.navbar{
 
    gap: 2rem;
   
}

.navbar:hover{
    cursor: pointer;
}



