.v-container .image-container{
    border: 8px solid rgb(232, 232, 232 / 93%);
}
.v-container>div{
 flex: 1;
}
.v-right{
    gap: 0.5rem;

}
.v-container{
    gap: 4rem;
}
.v-left{
    display: flex;
    justify-content: flex-end;
}
.accordion{
    margin-top: 2rem;
    border: none; 
    max-width: 600px; /* Restrict the max-width of the entire accordion */

}
.accordionItem{
    background-color: white;
    border: 0.08px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}
.accordionButton{
     background: white;
     padding: 1rem;
     width: 100%;
     justify-content: space-between;
     cursor: pointer;

}
.icon{
    padding: 10px;
    border-radius: 5px;
    background: #eeeeff;

}
.icon svg{
    fill: var(--blue);
}
.accordionButton .primaryText{
    font-size: 1.1rem;
}
.accordionItem.expanded{
    box-shadow: var(--shadow);
    border-radius: 6 px;
}


